<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark">
                <!-- Navbar content -->
            </nav>

            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand">CinemanTic</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="reservation.html">Reservaciones</a>
                                <a ></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cinemas.html">Cinemas</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            CinemanTic reserva para mi
                        </span>
                    </div>
                </div>

            </nav>
        </header>
     
        <br/>
        <div class="mb-3 row">
    <label for="inputName" class="col-sm-2 col-form-label">Nombre: </label>
    <div class="col-sm-8">
      <input type="nombre" class="form-control" id="inputNombre">
    </div>
  </div>
  
  <div class="mb-3 row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="inputEmail">
    </div>
  </div>
        <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div><div class="mb-3 row">
    <label for="inputPasswordConfirm" class="col-sm-2">Confirme su Password</label>
    <div class="col-sm-8">
      <input type="passwordConfirm" class="form-control" id="inputPasswordconfirm">
    </div>
  </div><div class="mb-3 row">
    <label for="inputAddress" class="col-sm-2">Direccion</label>
    <div class="col-sm-8">
    <input type="inputAddress" class="form-control" id="inputAddress" placeholder="Carrera, Calle, Transversal, Avenida">
  </div>
 
  <br/>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Departamento</label>
    <select id="inputState" class="form-select">
      <option selected>Elije...</option>
      <option value="1">Cundinamarca</option>
      <option value="2">Antioquia</option>
      <option value="3">Norte de Santander</option>
      <option value="4">Tolima</option>
      </select>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Ciudad</label>
    <select id="inputCity" class="form-select">
    <option selected>Elije...</option>
    <option value="1">Bogota</option> 
    <option value="2">Medellin</option> 
  </select>
  </div>
      
    
  </div>
 <br/>
    <center> <a href="bienvenida.html"><img src="https://cdn.imgbin.com/4/1/1/imgbin-pixel-art-sprite-stardew-valley-restart-aZarp9qRCerspV6Rtk1Au0d05.jpg" width="10%" height="40%"></center>
     <br/>
            <br/>
            <footer class="bg-dark text-white">
            
            <p><h8>Contactenos: <br/><a href="mailto:juan.londono.mt@usa.edu.co">juan.londono.mt@usa.edu.co</a><br/>
            <a href="mailto:hernan.giraldo.mt@usa.edu.co">hernan.giraldo.mt@usa.edu.co</a><br/>
            <a href="mailto:john.alba.mt@usa.edu.co">john.alba.mt@usa.edu.co</a></h8><br/>
        </footer>   
            
    </body>
</html>
