<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body bgcolor="BLACK">
         
<header>
            <nav class="navbar navbar-dark bg-dark">
                <!-- Navbar content -->
            </nav>

            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand">CinemanTic</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="reservation.html">Reservaciones</a>
                                <a ></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cinemas.html">Cinemas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="score.html">Calificanos</a>
                                <a ></a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            CinemanTic reservas para mi
                        </span>
                    </div>
                </div>

            </nav>
        </header>
        
    <center><img src="https://previews.123rf.com/images/dmitriylo/dmitriylo1605/dmitriylo160500174/71149372-pixel-art-style-warning-anded-vector-de-construcci%C3%B3n.jpg" width="400" height="400"></center>
        <br/>
    <footer class="bg-dark text-white">
            
            <p><h8>Contactenos: <br/>Juan Pablo Londoño González:   <a href="mailto:juan.londono.mt@usa.edu.co">juan.londono.mt@usa.edu.co</a><br/>
            Hernan Giraldo Cajiao:  <a href="mailto:hernan.giraldo.mt@usa.edu.co">hernan.giraldo.mt@usa.edu.co</a><br/>
            John Humberto Alba:     <a href="mailto:john.alba.mt@usa.edu.co">john.alba.mt@usa.edu.co</a></h8><br/>
        </footer>
    </body>
</html>
